/* You can add global styles to this file, and also import other style files */
* {
    font-family: "open sans";
}

.bg-default{
    background-color: #191919;
}

/* Titles */
h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h1, h2 {
    text-transform: uppercase;
}

.title-section {
    margin-bottom: 25px; 
}



/* Global */
.align_center {
    text-align: center;
}

.g_flex {
    display: flex;

}
.space_between { justify-content: space-between; }
    
.section .wrap {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px; 
}

.section .inner {
    padding: 60px 0;
}

/* Img */
.img-wrp {
    height: 100%;
    width: 100%;
}
.img-wrp img {
    display: block;
}

/* footer */
footer {
    background: linear-gradient(white, #efa5b2a1);
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
  }

 footer .footer-link a{
      text-decoration: underline;
      color: #191919;
      size: 10px;
  }