<section class="section hero" >
  <div class="img-wrp" data-module="bg-parallax">
    <img class="hero-img" src="https://source.unsplash.com/XbwHrt87mQ0" alt="" data-bg-parallax="image">
  </div>
  <div class="profile-wrp">
    <img class="profile-image" src="https://source.unsplash.com/UJm8kDbE57Y" class="img-thumbnail">
  </div>
</section>

<h2 class="title">Votre profil</h2>
<span><hr width="97%"></span>


<div class="container-fluid  ">
  <div class="row">
    <div class="section profil col-xs-12 col-sm-4">
      <div class="card mb-3" style="width: 100%;">     
        <div class="wrap">
          <div class="inner">
            <h3 class="title title-medium">{{ this.users.getUserByIndex(1).name }} </h3>
            <div class="infos">
              <div class="infos-total">Utilisation moyenne par jour : {{ this.users.getUserByIndex(0).usePerDayElec }} kWh</div>
              <div class="infos-total">Utilisation totale du mois : {{ this.users.getUserByIndex(0).totalUsePerMonthElec }} kWh</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section challenges-list col-xs-12 col-sm-4">
        <div class="card mb-3" style="width: 100%;"> 
          <div class="wrap">
            <div class="inner">
              <div class="active-challenges">
                <h4 class="title title-item">Vos défis en cours</h4>
                <div class="challenges-item">
                  <h5 class="title title-small">Être le meilleur</h5>
                  <p class="challenge-resume content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="section col-xs-12 col-sm-4">
        <div class="card mb-3" style="width: 100%;"> 
          <div class="wrap">
            <div class="inner">
              <div class="completed-challenges">
                <h4 class="title title-item">Vos derniers défis complétés</h4>
                <div class="challenges-item">
                  <h5 class="title title-small">Série de réduction</h5>
                  <p class="challenge-resume content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <p><a routerLink="/achievements">Voir tous les defis</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</div> 