
.bg-default{
    background-color: #efa5b2a1;
}

footer {
    background: linear-gradient(white, #efa5b2a1);
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
  }

 footer .footer-link a{
      text-decoration: underline;
      color: #191919;
      size: 10px;
  }