<h2 class='achiev-title'>Achievements</h2>
<span><hr width="97%"></span>
<section>
	<section class="Achievements-section card">
			<h3>Vos defis reussis</h3>

		<div class="Achievement-element card">
			<div class="Achievement-title"><h6>Vous etes dans le meilleur 10% de la ville</h6></div>
			<div>Obtenu  le 4 juin 2019</div>
		</div>
		<div class="Achievement-element card">
			<div class="Achievement-title"><h6>Actif depuis deux ans</h6></div>
			<div>Obtenue le 7 juin 2018</div>
		</div>
	</section>
	<section class="Achievements-section card">
		<h3>Les defis non-atteints</h3>
		<div class="Achievement-element card Achievement-title">
			<div><h6>Actif depuis 5 ans</h6></div>
		</div>
		<div class="Achievement-element card Achievement-title">
			<div><h6>Meilleur de la ville</h6></div>
		</div>

	</section>
</section>

