.achiev-title{
	padding-top: 20px;
	border:0 auto;
	text-align: center;
}

img{
    width: 100%;
    max-height: 95%;
    height: 250px;
    object-fit: cover;
}

.pink{
	background-color: #efa5b2a1;
	text-align: center;
}

.date {
	font-size: 0.9em;
}

.card-body{
	padding:0;
}

h5{
	margin-bottom: 0;
}