/* Community styles */
.label { max-width: 75%; }
.value { font-weight: bold; }
.user-image { 
    
    text-align: center; 
}
.user-icon {
    width: 120px;
    height: 120px; 
    margin-bottom: 25px; 
    border-radius:50%;
    overflow: hidden;
    object-fit: cover;
    border: 3px solid #191919;
}

