<!-- 1 - Afficher la moyenne des utilisateurs et la comparaison avec celle ci -->
<section class="section community-stats container-fluid">
  <div class="wrap">
    <div class="inner">
      <header class="section-header">
        <h2 class="title title-section align_center">Résumé de la communauté &nbsp;&nbsp;<i class="fa fa-area-chart" aria-hidden="true"></i></h2>
        <div class="content">Ici, on peut voir la moyenne de consommation des autres utilisateurs</div>
      </header>
      <br>
      <br>

      <div class="stats">
        <div class="stat-item g_flex space_between">
          <span class="label">Moyenne par jour des utilisateurs: </span>
          <span class="value">20 kWh <i class="fa fa-bolt" aria-hidden="true"></i></span>
        </div>
        <div class="stat-item g_flex space_between">
          <span class="label">Moyenne globale des utilisateurs: </span>
          <span class="value">600 kWh <i class="fa fa-bolt" aria-hidden="true"></i></span>
        </div>
        <div class="stat-item g_flex space_between">
          <span class="label">Comparaison entre vos résultats et les autres: </span>
          <!-- Si négatif, rouge, autrement, vert -->
          <span class="value active negatif">+ 2 kWh <i class="fa fa-bolt" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  </div>
</section> 

<!-- 2 - Afficher les détail de comparaisons avec un utilisateur précis -->
<!-- Section active uniquement quand on regarde les stats d'un utilisateur -->
<section class="section community-user-details container-fluid">
  <div class="wrap">
    <div class="inner">
      <header class="section-header">
        <div class="img_wrp user-image">
            <img class="user-icon" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" alt="">
        </div>
        <h2 class="title title-section align_center">Comparatif avec LOUIS XIV</h2>
        <div class="content">Vous comparez actuellement vos résultats avec ceux de LOUIS XIV, n'hésitez pas à le défier !</div>
      </header>
      <br>
      <br>
      <div class="stats">
        <div class="stat-item g_flex space_between">
          <span class="label">Différence par jour avec ceux de LOUIS XIV: </span>
          <span class="value négatif">+ 1.3 kWh <i class="fa fa-bolt" aria-hidden="true"></i></span>
        </div>
        <div class="stat-item g_flex space_between">
          <span class="label">Différence moyenne par mois avec ceux de LOUIS XIV: </span>
          <span class="value négatif">+ 96 kWh <i class="fa fa-bolt" aria-hidden="true"></i></span>
        </div>
        <div class="stat-item g_flex space_between">
          <span class="label">Nombre de défis réussis: </span>
          <!-- Si négatif, rouge, autrement, vert -->
          <span class="value active negatif">52 <i class="fa fa-trophy" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  </div>
</section>